@model Asignatura

@{
    ViewData["Title"] = "Información Asignaturas";
}

<div class="text-center">
    <h1 class="display-4"> @ViewData["Title"]</h1>
    <h2>Nombre: @Model.Nombre</h2>
  
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
