@model Asignatura

@{
    ViewData["Title"] = "Información Asignaturas";
}

<div class="text-center">
    <h1 class="display-4"> @ViewData["Title"]</h1>

    <strong>Desde la vista normal</strong>
    <p>
        Nombre: @Model.Nombre <br/>
        Id: @Model.UniqueId
    </p>

    <strong>Desde la vista parcial</strong>
    <partial name = "AsignaturaSimple" model = "@Model.Nombre"></partial>

    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
