@model List<Asignatura>

@{
    ViewData["Title"] = "Información Asignaturas";
}

<div class="text-center">
    <h1 class="display-4"> @ViewData["Title"]</h1>

    <strong>Desde la vista parcial</strong>
    @foreach (var asignatura in Model)
    {
        <partial name = "AsignaturaSimple" model = "asignatura"/>
    }

</div>
